#portfolio-page {

  a.download {
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 12px;
    display: block;
    max-width: 200px;
    background-color: $navColor;
    @include border-radius(12px);
  }

}