$logoShadow: 3px 3px 16px 0px rgba(0, 0, 0, 0.6);
$navColor: #eb9b3a;

// Configure Compass:
$experimental-support-for-svg: true;

$amoebaGreen: #A6CC2F;
$amoebaGreenMedium: #8BA400;
$amoebaGreenDark: #384F0E;
$amoebaGrey: #EAEBED;
$greenUltraDark: #002C1F;
$greyLight: #BEC0C6;
$pageWidth: 845px;