$logoShadow: 3px 3px 16px 0px rgba(0, 0, 0, 0.6);
$navColor: #eb9b3a;

// Configure Compass:
$experimental-support-for-svg: true;

$baseColor: rgba(0,0,0,1);
$baseColorMedium: rgba(0,0,0,.6);
$baseColorDark: rgba(0,0,0,.7);
$baseColorGray: rgba(0,0,0,.5);
$baseColorUltraDark: rgba(0,0,0,1);
$greyLight: rgba(0,0,0,.4);
$pageWidth: 845px;