
<div id="about-page" class=<%= class_name %>>

  <h1>About</h1>

  <p class="max">We are a team of creative digital entrepreneurs from around the globe.</p>

  <%= partial "partials/footer" %>

</div>