
<div id="about-page" class=<%= class_name %>>

  <h1>About</h1>

  <p class="max">We are a team of creative digital entrepreneurs from around the globe.</p>
  <p class="max">Check out the <a href="/page/portfolio.html">portfolio page</a> for examples of our work.</p>

  <%= partial "partials/footer" %>

</div>