
<div id="about-page" class=<%= class_name %>>

  <h1>About</h1>

  <p class="max">We are a team of creative digital entrepreneurs from around the globe.</p>
  <h3>Chat with us live...</h3>

  <input type='text' id='nameInput' placeholder='Name'>
  <input type='text' id='messageInput' placeholder='Message'>
  <br/>
  <textarea rows="20" placeholder="Messages" contenteditable="false" id="messagesDiv"></textarea>
  <br/>
  <button id="remove-line-button">Clear</button>


  <%= partial "partials/footer" %>

</div>