
<div id="contact-page" class=<%= class_name %>>

  <h1>Contact</h1>

  <br/>
  <b>Contact Us</b>
  <br>
  <a target="_blank" href="mailto:distantfuturist@gmail.com">E-mail</a>
  <br/>
  <a target="_blank" href="https://twitter.com/DistantFutureSF">Twitter</a>
  <br/>
  <a target="_blank" href="http://www.facebook.com/DistantFuture?ref=hl&bookmark_t=page">Facebook</a>

  <%= partial "partials/footer" %>

</div>