
<div id="contact-page" class=<%= class_name %>>

  <h1>Contact</h1>

  <br/>
  <br/>
  <br/>

    <a target="_blank" href="mailto:distantfuturist@gmail.com"><i class="fa fa-envelope-square fa-lg"></i>Email Us</a>
    <a target="_blank" href="https://twitter.com/DistantFutureSF"><i class="fa fa-twitter-square fa-lg"></i>Twitter</a>
    <a target="_blank" href="http://www.facebook.com/DistantFuture?ref=hl&bookmark_t=page"><i class="fa fa-facebook-square fa-lg"></i>Facebook</a>
  <br/>
  <br/>

  <p>
    <b>Distant Future Technologies</b> <br/>
    4255 24th St. <br/>
    San Francisco, CA <br/>
    94114
  </p>

  <h3>Chat with us live...</h3>

  <input type='text' id='nameInput' placeholder='Name'>
  <input type='text' id='messageInput' placeholder='Message'>
  <br/>
  <textarea rows="20" placeholder="Messages" contenteditable="false" id="messagesDiv"></textarea>
  <br/>
  <button id="remove-line-button">Clear</button>

  <%= partial "partials/footer" %>

</div>