
<div id="contact-page" class=<%= class_name %>>

  <h1>Contact</h1>

  <br/>
  <br>
  <br>

    <a target="_blank" href="mailto:distantfuturist@gmail.com"><i class="fa fa-envelope-square fa-lg"></i> Email Us</a>
    <a target="_blank" href="https://twitter.com/DistantFutureSF"><i class="fa fa-twitter-square fa-lg"></i> Twitter</a>
    <a target="_blank" href="http://www.facebook.com/DistantFuture?ref=hl&bookmark_t=page"><i class="fa fa-facebook-square fa-lg"></i> Facebook</a>

  <%= partial "partials/footer" %>

</div>