
<div id="contact-page" class=<%= class_name %>>

  <h1>Contact</h1>

  <br/>
  <br/>
  <br/>

    <a target="_blank" href="mailto:@xx."><i class="fa fa-envelope-square fa-lg"></i>Email Us(give me an email address!)</a>
    <a target="_blank" href="https://twitter.com/Brodowski4tet"><i class="fa fa-twitter-square fa-lg"></i>Twitter</a>
    <a target="_blank" href="https://www.facebook.com/Brodowskiquartet?ref=hl&bookmark_t=page"><i class="fa fa-facebook-square fa-lg"></i>Facebook</a>
  <br/>
  <br/>

  <p>
    <b>Brodowski Quartet</b> <br/>
    Postal Address?<br/>
    <br/>
    
  </p>

  <%= partial "partials/footer" %>

</div>
