
<div id="jobs-page" class=<%= class_name %>>

  <h1>Jobs</h1>

  <p class="max">We are always on the lookout for talented coders from around the world.</p>
  <p class="max">We are currently looking for <b>Android</b> and <b>Ruby on Rails</b> rockstars.</p>
  <p class="max">Fill out the form below and we'll get back to you soon.</p>

  <%= partial "partials/footer" %>

</div>