
<div id="main-page" class=<%= class_name %>>

  <div id="header-image">

  </div>

  <h1>The Brodowski Quartet</h1>

  <h2><b>Virtual Reality Quartet</b></h2>
  London, England
  <br/>

  <%= partial "partials/footer" %>

</div>
