
<div id="main-page" class=<%= class_name %>>

  <div id="header-image">

    <div id="logo-image">
    </div>

  </div>

  <h1>DISTANT FUTURE VR</h1>

  <h2><b>Virtual Reality Engineering</b></h2>
  San Francisco, CA
  <br/>

  <%= partial "partials/footer" %>

</div>