
<% # http://cssmenumaker.com/menu/simple-responsive-menu %>

<div id='cssmenu'>
  <ul>
    <li class='active'><a href='index.html'><span>Home</span></a></li>
    <li><a href='#'><span>Portfolio</span></a></li>
    <li><a href='#'><span>Team</span></a></li>
    <li><a href='#'><span>About</span></a></li>
    <li class='last'><a href='#'><span>Contact</span></a></li>
  </ul>
</div>