---
title: Distant Future Technologies
---
 <%
    main_hidden = 'no'
    team_hidden = 'yes'

    if defined?(page_name)
      if page_name == 'team'
        main_hidden = 'yes'
        team_hidden = 'no'
      end
    end
 %>

<div id="page-container">
  <%= partial "pages/main", {locals: {hidden: main_hidden}} %>
  <%= partial "pages/team", {locals: {hidden: team_hidden}} %>


</div>
