<div id="portfolio-page" class=<%= class_name %>>

  <h1>Portfolio</h1>

  <h3>Android applications:</h3>

  <div>
    <p class="max">Why navigate YouTube when you can just launch an app of your favorite channel? Let me know if you
      have a favorite channel and I'll build it and post it. All content and images is pulled from public YouTube APIs.
      All the apps are free and ad free.</p>  <br/>

    <p class="max"><b>These applications display a single YouTube channel.</b></p>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8geG94UG1fTVFNaVk'>The Verge TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gZzFUeEdTOWI5cUU'>Android Devs TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gUFNKaG5MY0pWU3c'>Big Think TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gTGhtM0laLTJZdVU'>SVB TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gRXFOR3N5aUo2RFk'>Code.org TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gU3VORFZ2elRScWs'>Youtube Spotlight TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gMm9UeE5aMGJCdVE'>XDA TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gWXF3d3BKWi1pSms'>Vice TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gUGdWT21TdDFvNGM'>Top Gear TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gdTF6NnNkZWM2ekk'>RT TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gRXhVLUsxMlNZODQ'>Reason TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gUmoxRWFQUzBqR3M'>Jet Daisuke TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gbVdFSU5aWVRkMFE'>Pewdiepie TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gYlFheXpaT1VWa2c'>Joe Rogan TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gTlRUQnhzOExONzg'>Justin Bieber TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gb3d3WkctdmlDTkE'>Khan Academy TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gaENNRkVGdGJMOW8'>Max Keiser TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8geFphSGVKNVlsd1E'>Nerdist TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gZkpRMFJRT1lnSGM'>Neurosoup TV</a>

    <p class="max"><b>This app is customizable. The default channels are tech news related, but any channel can be added or
      removed.</b></p>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gNFdKWEUwcDBQeUE'>Tech News TV</a>

  </div>

  <p>
    <a href="mailto:steve@distantfutu.re">Contact me</a> if you have comments about these apps.
  </p>

  <%= partial "partials/footer" %>

</div>