<div id="portfolio-page" class=<%= class_name %>>

  <h1>Portfolio</h1>

  <p style="text-align: center; color: red; font-size: 23px; font-weight: bold">

    <p>
      An early preview of a VR typing tutor written in Unreal Engine 4.</br></br> Works equally well for both desktop or Oculus Rift. </br></br>Use headphones for best experience. Windows Only for now.  <br/></br>Email feedback to <a href="mailto:steve@distantfutu.re">steve@distantfutu.re</a>
    </p>

    <a class="download" href=<%= "https://drive.google.com/uc?export=download&id=0BzWQtvPqqX8gY0ROaVA3QkVhSWs"%>>VR Typing Tutor (alpha)</a>
  </p>

  <%= partial "partials/footer" %>

</div>