<div id="portfolio-page" class=<%= class_name %>>

  <h1>Portfolio</h1>

  <p style="text-align: center; color: red; font-size: 33px">
    (Coming Soon)
  </p>


  <%= partial "partials/footer" %>

</div>