<div id="portfolio-page" class=<%= class_name %>>

  <h1>Portfolio</h1>

  <h3>Android applications:</h3>

  <div>
    <p class="max">Why navigate YouTube when you can just launch an app of your favorite channel? Let me know if you
      have a favorite channel and I'll build it and post it. All content and images is pulled from public YouTube APIs.
      All the apps are free and ad free.</p>  <br/>

    <p>The code can be found on <a href="https://github.com/sgehrman/UTubeTV" target="_blank">GitHub</a></p>.

    <p class="max"><b>These applications display a single YouTube channel.</b></p>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gcGQxdEp6V29uNmc'>The Verge TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8geEFNNjRJbnJKWlE'>Android Devs TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gQzM1WDZkWU9ZVG8'>Big Think TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gUHdaWWNqcEJTbGc'>SVB TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gOTRnRHhqNFh3SlE'>Code.org TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gd21ENUhXZE8yNjQ'>Youtube Spotlight TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gMU5kWlktRllqYUE'>XDA TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gZ0xxcGtOcjhSQWM'>Vice TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gTFpIbEZNbWlvdW8'>Top Gear TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gZnBOV3hEYUtFcUE'>RT TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gZ2FHZkV2Y0hRQkU'>Reason TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gVGJWME9TcVF0bkU'>Jet Daisuke TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gY1pMRjllQ2hWODQ'>Pewdiepie TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gaDJFMWwzdFQ0REE'>Joe Rogan TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gN05RZkhoQ3JyWFk'>Justin Bieber TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gbTNGaEtBdTI1NTg'>Khan Academy TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gS1hNTUxlZ0FadlE'>Max Keiser TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gTkVPRi1CbHUzbDA'>Nerdist TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gUW9kMmNCaWhJcWc'>Neurosoup TV</a>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gY2tsbXQ3TEZrNTQ'>Mind the Gap TV</a>

    <p class="max"><b>This app is customizable. The default channels are tech news related, but any channel can be added or
      removed.</b></p>

    <a class="download" href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gMTZpRTRJMWt2dkk'>Tech News TV</a>

  </div>

  <p>
    <a href="mailto:steve@distantfutu.re">Contact me</a> if you have comments about these apps.
  </p>

  <%= partial "partials/footer" %>

</div>