<div id="portfolio-page" class=<%= class_name %>>

  <h1>Portfolio</h1>

  <p style="text-align: center; color: red; font-size: 23px; font-weight: bold">

    <p>
      This is where we can put some static data (or rarely updated information) on the Quartet</br> 
    </p>

  </p>    

  <%= partial "partials/footer" %>

</div>
