
<div id="portfolio-page" class=<%= class_name %>>

  <h1>Portfolio</h1>

  <h3>Android applications:</h3>

  <div>
    <a href='https://docs.google.com/uc?export=download&id=0BzWQtvPqqX8gZkhaN2VGZlRCTlE'>The Verge TV</a>
  </div>

   <p>
     <a href="mailto:steve@distantfutu.re">Contact me</a> if you have comments about these apps.
   </p>

  <%= partial "partials/footer" %>

</div>