<div id="portfolio-page" class=<%= class_name %>>

  <h1>Portfolio</h1>

  <p style="text-align: center; color: red; font-size: 23px; font-weight: bold">

    <a class="download" href=<%= "https://docs.google.com/uc?export=download&confirm=fUvc&id=0BzWQtvPqqX8gRDU5cExZM1dXbTA"%>>VR Typing Tutor (Beta)</a>

  </p>


  <%= partial "partials/footer" %>

</div>